/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding: 20px;
}

.mat-form-field-ripple {
    background-color: #10c4f6 !important;
}

.mat-focused .mat-form-field-label {
    color: #10c4f6 !important;
}