.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-container button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #4dcb7b;
    color: white;
}

.login-container button:disabled {
    background-color: #bebebe;
    color: white;
}

.login-container mat-form-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container button {
    margin-top: 20px;
    margin-bottom: 20px;
}